name: run tests
on: push
jobs:
  unit_test_lint:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v6
    - run: |
            npm ci
            npm run build
            npm run test:unit
            npm run lint 
